
<div class="sidebar">
<ul>
		<li class="home"><a href="#">Home</a></li>
		<li><a href="#">Treanding</a></li>
		<li><a href="#">Subscription</a></li>
		<li class="library"><a href="#">LIBRARY</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Watch later</a></li>
		<li><a href="#">Liked videos</a></li>
		<li><a href="#">Show more</a></li>
</ul>
</div>

<div class="content">
	<div class="imgcontentsMain">
		<img src="../assets/video_add.png" width="600px">
	</div>
	<div class="imgcontentsMain">
		<img src="../assets/add.png" width="450px" height="200px">
	</div>
</div>



<div class="content">
	<div class="imgcontents">
		<img src="../assets/img_2.png" width="230px">
		<p class="bold">Joey's Reactions are the Best- Friends</p>
		<p>Favorite videos</p>
		<p>807K views 7 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_3.png" width="230px">
		<p class="bold">Bekhayali Full Song | Kabir Singh | Shahid K,Kiara A|Sandeep Reddy Vanga</p>
		<p>T-Series</p>
		<p>7K views 1 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_4.png" width="230px">
		<p class="bold">THE REAL DOCTOR (MALAYALAM)</p>
		<p>Malayalam Comedy TIme</p>
		<p>80K views 72 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_5.png" width="230px">
		<p class="bold">Anandam Nivin Pauly Highlight Scene | Nivin Pauly Helps the Students</p>
		<p>API Malayalam</p>
		<p>27K views 8 months ago</p>
	</div>
	
</div>

<div class="content">
	<div class="imgcontents">
		<img src="../assets/img_2.png" width="230px">
		<p class="bold">Joey's Reactions are the Best- Friends</p>
		<p>Favorite videos</p>
		<p>807K views 7 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_3.png" width="230px">
		<p class="bold">Bekhayali Full Song | Kabir Singh | Shahid K,Kiara A|Sandeep Reddy Vanga</p>
		<p>T-Series</p>
		<p>7K views 1 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_4.png" width="230px">
		<p class="bold">THE REAL DOCTOR (MALAYALAM)</p>
		<p>Malayalam Comedy TIme</p>
		<p>80K views 72 months ago</p>
	</div>
	<div class="imgcontents">
		<img src="../assets/img_5.png" width="230px">
		<p class="bold">Anandam Nivin Pauly Highlight Scene | Nivin Pauly Helps the Students</p>
		<p>API Malayalam</p>
		<p>27K views 8 months ago</p>
	</div>
	
</div>
